Package: xyz.turannul.uptime
Architecture: iphoneos-arm
Version: 8.0
Section: Scripts
Depends: ncurses | ncurses-term, zsh, uikittools, gawk
Priority: optional
Maintainer: turannul
Author: turannul
Description: uptime but useful.
SileoDepiction: https://turannul.github.io/repo/depictions/native/xyz.turannul.uptime/depiction.json
Name: uptime2
Icon: https://turannul.github.io/home/resources/tweak.png
